In [1]:
subject1 = int(input('write your marks'))
subject2 = int(input('write your marks'))
subject3 = int(input('write your marks'))
subject4 = int(input('write your marks'))
subject5 = int(input('write your marks'))
avg = (subject1 + subject2 + subject3 + subject4 + subject5) / 5
if avg >= 90 and avg < 100 :
    print('A+')
elif avg >=80 and avg < 90 :
    print('A')
elif avg >= 70 and avg <80:
    print('b')
elif avg >=60 and avg <70 :
    print('fail')

write your marks88
write your marks88
write your marks88
write your marks88
write your marks88
A

In [11]:
num1 = int(input('write your number:'))
mod = num1 % 2
if mod == 0 :
    print('even')
else :
    print('odd')

write your number:79
odd

In [18]:
arr1=['ali','usman','hamza','raza']
arr1

['ali', 'usman', 'hamza', 'raza']

In [19]:
len(arr1)

4

In [21]:
arr2=[1,2,3,4,5,6]

In [22]:
sum(arr2)

21

In [23]:
max(arr2)

6

In [30]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
    if i <5 :
        print(i)

1
1
2
3